{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "8.11.1"
                },
                "exclude": [
                ]
            }
        ]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ],
    "sourceMaps": true,
    "retainLines": true
}